name: CI

on:
  push:
    branches:
      - 'master'
    tags:
  pull_request:
    branches:
      - 'master'
    tags:

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        java: [8, 11, 13]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    name: build-${{ matrix.os }}-jdk${{ matrix.java }}
    if: startsWith( github.event.head_commit.message , '[maven-release-plugin] prepare release') != true

    steps:
      - uses: actions/checkout@v2.0.0

      - uses: actions/cache@v1.1.2
        with:
          path: ~/.m2/repository
          key:          ${{ matrix.os }}-jdk${{ matrix.java }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ matrix.os }}-jdk${{ matrix.java }}-maven-


      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - uses: s4u/maven-settings-action@v2

      - name: chek for master build
        id: master-build
        run: echo "::set-output name=master::true"
        if: >
          matrix.os == 'ubuntu-latest' &&
          matrix.java == '8' &&
          github.event_name == 'push' &&
          startsWith(github.repository, 's4u/')

      - name: master build
        run: echo "Master"
        if: steps.master-build.outputs.master == 'true'

      - name: non master build
        run: echo "No master"
        if: steps.master-build.outputs.master != 'true'

      #    - run: env
      - run: cat ~/.m2/settings.xml
      - run: mvn -V help:effective-settings
      - run: mvn clean verify
      - run:  ls -R1 ~/.m2/
        shell: bash
